@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50 text-slate-900;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  @apply bg-slate-100;
}

/* Smooth scroll */
* {
  scroll-behavior: smooth;
}
